Repository poiu694/gdsc-uos-recruit-page: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn ds:prettier, yarn ds:lint, yarn api:prettier, yarn api:lint, yarn admin:prettier, yarn admin:lint, yarn service:prettier, yarn service:lint

.lintstagedrc.json:

{
  "packages/design-system/**/*.{js,jsx,ts,tsx}": [
    "yarn ds:prettier",
    "yarn ds:lint"
  ],
  "packages/api/**/*.{ts,tsx}": [
    "yarn api:prettier",
    "yarn api:lint"
  ],
  "admin/**/*.{js,jsx,ts,tsx}": [
    "yarn admin:prettier",
    "yarn admin:lint"
  ],
  "service/**/*.{js,jsx,ts,tsx}": [
    "yarn service:prettier",
    "yarn service:lint"
  ]
}

refactor: SideMenu Outlet으로 다루기
  admin/src/components/styled/ContentWrapper.ts
  admin/src/components/styled/index.ts
  admin/src/pages/ApplyDetailPage.tsx
  admin/src/pages/ApplyPage.tsx
  admin/src/pages/InterviewRecordPage.tsx
  admin/src/pages/MainPage.tsx
  admin/src/pages/ManageRecruitInfoPage.tsx
  admin/src/pages/ManageUserPage.tsx
  admin/src/pages/SendMailPage.tsx
  admin/src/routes/ProtectedSideOutlet.tsx
  admin/src/routes/index.tsx
Due: yarn admin:prettier, yarn admin:lint

refactor: 리렌더링이 많이 일어나는 곳에 memoize
  admin/src/components/ApplicationTable.tsx
  admin/src/components/IconText.tsx
  admin/src/components/ManageRecruitInfoBox/ApplyQuestionInfoBox.tsx
  admin/src/components/ManageRecruitInfoBox/IntroductionInfoBox.tsx
  admin/src/components/ManageRecruitInfoBox/QuestionInfoBox.tsx
  admin/src/components/SideMenu.tsx
  admin/src/components/TeamList.tsx
  admin/src/hooks/usePagination.ts
  admin/src/pages/ApplyPage.tsx
  packages/design-system/src/components/Tab/TabMenu.tsx
  packages/design-system/src/components/Table/TBody.tsx
  packages/design-system/src/components/Table/THead.tsx
  packages/design-system/src/components/Table/Table.tsx
  packages/design-system/src/components/Table/TablePagination.tsx
  packages/design-system/src/components/Table/Td.tsx
  packages/design-system/src/components/Table/Tr.tsx
Due: yarn ds:prettier, yarn ds:lint, yarn admin:prettier, yarn admin:lint

fix: 오타 수정 EvaluationTable => MemoTable
  admin/src/components/MemoTable.tsx
Due: yarn admin:prettier, yarn admin:lint

feat: docker-compose를 이용한 service build
  .dockerignore
  Dockerfile
  docker-compose.yml
  package.json
Due: none

feat: service docker run
  .github/workflows/aws-service-prod-deploy.yml
  Dockerfile
  docker-compose.yml
  package.json
  service/src/components/Main/MainBanner.tsx
Due: yarn service:prettier, yarn service:lint

feat: chrome overscroll 방지
  service/src/pages/_app.tsx
Due: yarn service:prettier, yarn service:lint

migration: yarn to pnpm
  .pnp.cjs
  .pnp.loader.mjs
  .yarnrc.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  yarn.lock
Due: none

refactor: prettier root에서 관리
  .lintstagedrc.json
  .prettierrc
  package.json
  packages/api/.prettierrc
  packages/design-system/.prettierrc
  service/.prettierrc
  service/@types/index.ts
  service/@types/introduction.ts
  turbo.json
Due: yarn service:prettier, yarn service:lint

feat: MIT LICENSE 추가
  LICENSE
Due: none

ci: lint-checker pnpm으로 변경
  .github/workflows/lint-checker.yml
Due: none

docs: fix clone - start
  README.md
Due: none

feat: 2023 S/S 모집 적용
  service/src/components/common/Header.tsx
  service/src/constants/Main.ts
  service/src/constants/form.ts
  service/src/hooks/useGA.ts
  service/src/pages/index.tsx
Due: yarn service:prettier, yarn service:lint

ci: pnpm setup
  .github/workflows/lint-checker.yml
Due: none

fix: delete useless
  admin/src/pages/MainPage.tsx
Due: yarn admin:prettier, yarn admin:lint

ci: fix with tab syntax
  .github/workflows/lint-checker.yml
Due: none

feat: QNA 2023-S/S 업데이트
  service/src/constants/Question.ts
Due: yarn service:prettier, yarn service:lint

fix: text 내부 a태그 적용 안되는 오류 해결
  service/src/components/Qna/QuestionBox.tsx
Due: yarn service:prettier, yarn service:lint

fix: darktheme에서 팀 바로가기가 잘 안보이던 부분 수정
  service/src/components/Qna/QuestionList.tsx
Due: yarn service:prettier, yarn service:lint

fix: 구글폼 및 지원기간 변경
  service/src/constants/Main.ts
  service/src/constants/Question.ts
  service/src/constants/form.ts
Due: yarn service:prettier, yarn service:lint

fix: window 객체 접근이 안되서 마운트 안되는 오류 해결
  service/src/components/common/CustomThemeProvider.tsx
Due: yarn service:prettier, yarn service:lint

fix: themeMode에 efault 값 추가
  service/src/components/common/CustomThemeProvider.tsx
Due: yarn service:prettier, yarn service:lint

fix: 디펜던시로 인해 유저테마 변경 안되는 오류 해결
  service/src/components/common/CustomThemeProvider.tsx
Due: yarn service:prettier, yarn service:lint

fix: design 팀 임시 제거
  service/src/components/Main/MainTeam.tsx
  service/src/constants/Introduction.ts
  service/src/constants/Question.ts
  service/src/constants/Team.ts
Due: yarn service:prettier, yarn service:lint

fix: design 팀 임시 제거
  service/src/components/Main/MainTeam.tsx
  service/src/constants/Introduction.ts
  service/src/constants/Question.ts
  service/src/constants/Team.ts
  service/src/hooks/useLocalStorage.ts
  service/src/pages/introduction/[teamName].tsx
  service/src/pages/qna/[teamName].tsx
Due: yarn service:prettier, yarn service:lint

feat: docker with turborepo
  apps/service/Dockerfile
  pnpm-workspace.yaml
Due: none

feat: LICENSE 추가
  .gitignore
  packages/design-system/LICENSE
Due: none

chore: vscode settings 파일 변경
  .vscode/settings.json
  apps/service/src/hooks/useLocalStorage.ts
Due: none

feat: react-query 디펜던시 추가
  apps/service/package.json
  pnpm-lock.yaml
Due: none

refactor: api 서비스 구분
  apps/service/@types/introduction.ts
  apps/service/src/api/service/IntroductionService.ts
  apps/service/src/api/service/ServiceAPI.ts
  apps/service/src/api/service/TestAPI.ts
  apps/service/src/api/service/index.ts
  apps/service/src/constants/Introduction.ts
  apps/service/src/pages/introduction/[teamName].tsx
  packages/api/lib/mock/handlers/index.ts
  packages/api/lib/mock/handlers/introductionHandler.ts
  packages/api/lib/mock/handlers/testHandler.ts
  packages/api/lib/mock/server.ts
  packages/api/lib/mock/worker.ts
Due: yarn api:prettier, yarn api:lint

feat: Introduction Mock API 및 쿼리 구현
  apps/service/@types/introduction.ts
  apps/service/src/api/query/IntroductionQuery.ts
  apps/service/src/api/query/index.ts
  apps/service/src/constants/Introduction.ts
  apps/service/src/constants/index.ts
  apps/service/src/pages/_app.tsx
  apps/service/src/pages/api/introduction.ts
  apps/service/src/pages/introduction/[teamName].tsx
  packages/api/lib/mock/handlers/introductionHandler.ts
Due: yarn api:prettier, yarn api:lint

feat: Admin 내 react-query 디펜던시 추가
  apps/admin/package.json
  pnpm-lock.yaml
Due: none

feat: API Scaffold
  apps/admin/src/App.tsx
  apps/admin/src/api/Provider.ts
  apps/admin/src/api/service/AdminAPI.ts
  apps/admin/src/api/service/AdminService.ts
  apps/admin/src/api/service/ApplicationService.ts
  apps/admin/src/api/service/TestAPI.ts
  apps/admin/src/api/service/index.ts
  apps/admin/src/vite-env.d.ts
Due: none

fix: admin build 해결
  apps/admin/src/api/index.ts
  apps/admin/src/api/service/index.ts
Due: none

fix: theme 바뀌지 않는 오류 해결
  apps/service/src/components/common/CustomThemeProvider.tsx
  apps/service/src/pages/_app.tsx
  packages/api/lib/mock/handlers/applicationHandler.ts
Due: yarn api:prettier, yarn api:lint

feat: google_login image 추가
  apps/admin/public/google_login.png
Due: none

feat: AuthService 추가
  apps/admin/src/api/service/AuthService.ts
  apps/admin/src/api/service/index.ts
Due: none
